@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
*{
font-family: 'Poppins', sans-serif;

}

.card-hover-effect[data-astro-cid-upkumhrg]:hover:before {
    animation-play-state: running;
    opacity: 1;
}
.card-hover-effect[data-astro-cid-upkumhrg]:before {
    content: "";
    position: absolute;
    background-color: rgb(2, 88, 49);
    width: clamp(120px, 40vw, 300px);
    height: clamp(160%, 200vw, 250%);
    transform-origin: center center;
    opacity: 0;
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
    will-change: transform, opacity;
    pointer-events: none;
    transform: translateZ(0);
    transition: opacity .225s cubic-bezier(0, 0, .58, 1);
    z-index: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.toc-item-wrapper[data-depth="2"] {
    margin-bottom: calc(var(--spacing) * 1);
    border-radius: var(--radius-lg);
}
body{
    scroll-behavior: smooth;
}